<!-- views/index.ejs -->

<html>
  <body>
    <h1>İki Sayıyı Topla</h1>
    <form action="/topla" method="post">
      Sayı 1: <input type="text" name="sayi1" required><br>
      Sayı 2: <input type="text" name="sayi2" required><br>
      <input type="submit" value="Topla">
    </form>
  </body>
</html>
